/* Styling for the body */
body {
    color: #f2e9e4;
    font-weight: bold;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* The title text at the top */
.title-text {
    font-size: 2vw;
    padding: 1.6vw;
}

/* The container for the page */
.container {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #0a0908;
    height: 100vh;
    padding: 0 0 0 2.5vw;
}

/* The right column holding the main chat and input bar */
.main {
    overflow-y: scroll;
    background-image: linear-gradient(to left, #393d3f, #0a0908);
    color: #b21e35;
    scroll-behavior: smooth;
}

/* The left column holding the tones */
.sidebar {
    background-color: #0a0908;
    overflow-y: auto;
}

/* Styling for the navbar */
ul {
    list-style-type: none;
    padding: 2vh;
}

/* Styling for the text on navbar */
ul li a {
    display: block;
    color: #b21e35;
    padding: 2vh 0 2vh 0;
    text-align: center;
    text-decoration: none;
    font-size: 2.4vh;
    transition: 0.3s;
}

/* Text changes colour on navbar when hovered */
ul li a:hover {
    color: #df2935; 
    cursor: pointer;
}

/* Styling for the info text in the top left */
.info-text {
    text-align: center;
    padding: 1.6vw 2vw 0 2vw;
    font-size: 1.6vw;
    color: #f2e9e4;
}

/* Styling for the input bar */
.input {
    font-family: inherit;
    font-weight: bold;
    width: 50%;
}

/* Styling for the login button */
.button {
    text-align: center;
    text-decoration: none;
    width: 1.75%;
    transition: 0.3s;
}

/* Login button changes colour when hovered */
.button:hover {
    background-color: #1e1d1c;
    cursor: pointer;
}

/* Styling for the input bar and the send button on the bottom of the screen */
.input, .button {
    background-color: #393d3f;
    border: 0.7vh solid #b21e35;
    display: inline-block;
    vertical-align: middle;
    font-size: 2.4vh;
    color: #f2e9e4;
    padding: 2vh;
}

/* Making sure the input bar and send button are positioned correctly */
.input-area {
    text-align: center;
    margin-top: 70vh;
    margin-bottom: 5vh;
    position: sticky;
    bottom: 5vh;
}

/* Styling for the chat messages */
.chat-messages {
    color: #f2e9e4;
    padding: 0 1.6vw 0 1.6vw;
}

/* Animation for the errors */
.flash-error {
    animation: flash 1s ease-in-out;
}

/* Making the tones turn from orange to red when theres an error */
@keyframes flash {
    from {color: #F3752B}
    to {color: #b21e35;}
}

/* Styling for the error messages */
#typing-indicator {
    font-size: 2vw;
    padding: 0 1.6vw 0 1.6vw;
    color: #f2e9e4;
}